
/*Main body div*/
.main-body-container{
    background-color:#DDDCE1;
}
.fabricated-body-div{
    width:100%;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    background-color: #fff;
}



/*Loader*/
.loader{
    position:fixed;
    z-index:99;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.loader > img {
    width:100px;
}
.loader.hidden {
    animation:fadeOut 1s;
    animation-fill-mode:forwards;
}
@keyframes fadeOut {
    100% {
        opacity:0;
        visibility:hidden;
    }
}



/*Mobile naviation*/
.mobile-navigation{
    display:block;
    border-bottom:2px solid #808080;
    position:fixed;
    width:100%;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 3px 10px -6px rgba(0,0,0,1);

}
.logo-link{
    justify-content:center;
}
.mobile-logo-img {
    width:135px;
}


/*Main sides container*/
.sides-container-two{
    display:flex;
    justify-content:center;
}



/*Desktop Sidenav Left Side*/
.left-container{
    display:none;
    width:160px ;
    height:100%;
    background-color: #fff;
}
.desktop-sidebar-div{
    padding:5px;
}
.desktop-sidebar-div img{
    width:140px;
}
.link-box-active{
    padding: 0px;
    background-color:#DDDCE1;
    margin: 10px;
    border-radius:6px;
}
.link-box{
    padding: 0px;
    margin: 10px;
    border-radius:6px;
}
.link-box:hover{
    text-decoration: none;
    background-color: #DDDCE1;
    border-radius: 6px;
}
.stats-dropdown-block{
    background-color: #DDDCE1;
    margin: 5px;
    border-radius: 10px;
    line-height: 0.5;
    padding-top: 5px;
    padding-bottom: 5px;
    display: none;
}
.mobile-dropdown-block{
    background-color: #fff;
    margin: 10px;
    border-radius: 10px;
    line-height: 0.6;
    padding: 5px;
    display: none;
}
.mobile-dropdown-block-link{
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #DDDCE1;
    margin: 10px;
    border-radius: 10px;
}
.mobile-dropdown-block-link img{
    width:25px;
    height: 25px;
    margin-top:5px;
}
.mobile-dropdown-block-link p{
    padding-top: 10px;
    padding-left: 10px;
}
.dropdown-block-link{
    margin: 5px;
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.dropdown-block-link:hover{
    text-decoration: none;
}
.dropdown-block-link-img{
    width: 25px;
    height: 25px;
    padding-bottom: 2px;
}
.desktop-sidebar-dropdown{
    color:#1E1F25;
    padding-top: 7px;
    padding-left: 7px;
}
.desktop-sidebar-nav-p{
    color:#1E1F25;
    text-decoration: none;
}



/*Desktop Sidenav Right Side*/
.right-container{
    width:100%;
    border-radius: 10px;
    background-color: #fff;
    padding-right: 0px;
    margin: 0px;
}
.right-top-container{
    padding-right: 0px;
    display: none;
    margin: 0;
    background-color: #fff;
    padding: 15px
}
.desktop-sticky-icons-img{
    margin: 0;
    width: 50px;
}
.desktop-sticky-icons{
    border-radius:6px;
    color: #fff;
    margin: 10px;
    background-color: #3791CD;
    padding: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 5px 10px -6px rgba(0,0,0,1);
}
.desktop-sticky-icons:hover{
    color: #fff;
    text-decoration: none;
    box-shadow: none;
}
.bottom-right{
    padding-top:45px;
    padding-bottom: 3px;
    width:100%;
    background-color: #DDDCE1;
    border-radius: 10px;
    margin: 0;
}
.main-charts-block{
    margin: 0px;
}
.main-fruits-charts-block{
    margin: 10px;
    padding-top: 10px;
}
.two{
    display: block;
    background-color: #3791CD;
    border-radius: 10px;
    width: 100%;
}
.two-flexer{
    display: block;
}
.chart-info{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 5px 10px -6px rgba(0,0,0,1);
    width:100%;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}
canvas{
    background-color: #fff;
    border-radius: 10px;
    width:100%;
}
.list-container{
    margin: 5px;
    border-radius: 10px;
}
.breadcrumbs-bar{
    display: flex;

}
.breadcrumbs-bar p{
    margin-right:5px;
    font-size: 18px;
    color: #808080;
}
.breadcrumbs-bar{
    color: #3791CD;
}


/*Sidenav 2*/
.sidenavMain {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin: 0;
  background-color: #fff;
}
.sidenav-cover{
    border-right:solid 2px #3a99d9;
}
.mobile-stats-dropdown{
    border-radius: 10px;
    margin: 15px;
    background-color: #DDDCE1;
    padding-bottom: 1px;
}
.block-content{
    display: flex;
    border-radius: 10px;
    margin: 10px;
    background-color: #DDDCE1;
    line-height: 0.8;
}
.block-content img{
    width:40px;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 0px;
    margin: 0;
}
.sidenavMain-a {
  display: flex;
  border-radius: 10px;
  margin: 15px;
  background-color: #DDDCE1;
}
.sidenavMain a:hover {
    background-color: #DDDCE1;
    text-decoration: none;
}
.sidenavMain p {
    color: #1E1F25;
}
.sidenavMain-a i{
    padding-top: 12px;
    margin-left: 20px;
    color:#3791CD;
}


.sidenavMain .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color:#3791CD;
}



/*Mobile Footer*/
.mobile-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 65px;
    border-top: 2px solid #808080;
    z-index: 1;
    background-color: #fff;
}
.a-tag-container {
    justify-content: center;
}
.a-tag {
    display: flex;
    bottom: 0%;
    width: 100%;
    justify-content: space-evenly;
}
.a-tags {
    border-radius:10px;
    padding-top: 5px;
    padding:5px;
}
.a-tags i{
    box-shadow: 0px 5px 10px -6px rgba(0,0,0,1);
    border-radius:5px;
    padding:5px;
    color: #3791CD;
    background-color: #fff;
}
.a-tags-icon {
    width: 45px;
    padding:5px;
}
.media-icons {
    height: 45px;
    padding-top: 15px;
    margin-left: 20px;
}

.media-texts {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding-top: 15px;
}
.mobile-sidebar-media-texts {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding-top: 25px;
}



/*Footer*/
.main-device-footer{
    width:100%;
    padding-top:10px;
    background-color: #fff;
}
.main-device-footer hr{
    width: 70%;
    background-color: #808080;
}
.social-media-apps{
    justify-content:space-evenly;
    display:flex;
    width:100%;
    flex-wrap: wrap;
}
.social-media-app-link{
    width:55px;
    margin:px;
    border-radius:6px;
    background-color: #fff;
    padding: 5px 0px;
    flex: 25%;
}
.social-media-app-link:hover{
    background-color: #DDDCE1;
}
.social-media-app-link i{
    color: #3791CD;
}
.social-media-app-link img{
    width:50px;
    padding:5px;
}
.newsletter-subscription{
    padding-top:15px;
    padding-bottom:0px;
    color:#1E1F25;
    width:70%;
}
.footer-text{
    color: #1E1F25;
}
.footer-text:hover{
    color: #1E1F25;
    text-decoration: none;
}
.subscription-block{
    display:block;
    justify-content:space-around;
    font-size: 18px;
}
.subscription-block input{
    background-color: #DDDCE1;
}
.subscription-block button{
    background-color: #DDDCE1;
    margin-left: 10px;
    font-size: 15px;
    color: #1E1F25;
}
.subscription-block button:hover{
    box-shadow: 0px 5px 10px -6px rgba(0,0,0,1);
}
.last-footer-block{
    padding:5px;
    color:#1E1F25;
    width:80%;
    font-size: 18px;
}
.copyright{
    color:#1E1F25;
    display:flex;
    text-align:center;
    height:50px;
    padding-top:10px;
    justify-content:center;
}
.copyright-link{
    padding-left:5px;
    color:#1E1F25;
}
.copyright-link:hover{
    color:#1E1F25;
}




@media only screen and (min-width:768px) {
    .mobile-navigation{
        display:none;
    }
    .right-container{
        padding-right: 10px;
        padding-top: 0px;
        margin: 0;
    }
    .right-top-container{
        display: block;
    }
    .bottom-right{
        padding-top:0px;
    }
    .list-container{
        padding-top:0px;
    }
    .left-container{
        display:block;
    }
    .top-right{
        display:block;
    }
    .mobile-footer {
        display: none;
    }
    .social-media-app-link{
        flex: 0%;
    }
    .social-media-apps{
        width:70%;
    }
    .subscription-block{
        display:flex;
    }
    .newsletter-subscription{
        width:60%;
    }
}
@media only screen and (min-width:900px) {
    .social-media-app-link{
        flex: 0%;
    }
    .social-media-apps{
        width:60%;
    }
    .two-flexer{
        display: flex;
    }
    .chart-info{
        width: 48%;
    }
}
@media only screen and (min-width:1366px) {
    .fabricated-body-div{
        width:1366px;
    }
    .newsletter-subscription{
        width:40%;
    }
}